<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>MEAN Material Skeleton Application</span>
	</mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row">
	<div fxLayout="column" fxFlex="50%" fxFlexOffset="25%">
		<h1>Hello world!</h1>
		<mat-card>
			<h2>MEAN Material Skeleton Application</h2>
			<p>
				This is a bare-bones solution to help you get started with building a MEAN stack application, without
				the Angular CLI. It includes:
			</p>

			<ul>
				<li>
					MEAN Stack
				</li>
				<li>
					Angular 6
				</li>
				<li>
					Angular Flex Layout
				</li>
				<li>
					Angular Material
				</li>
				<li>
					Webpack
				</li>
			</ul>


			<h2>Technical</h2>
			<p>
				Technically speaking, this application is pre-coded with a shared module, lazy loading, and
				supervisor (for watching files) already set up for you. In addition, a number of pre-defined
				convenience components are included, such as a loading indicator.
			</p>
			<p>
				Server-side, you will find the folder structure already defined for you. Some basic routing is
				provided for you, as well as a module loader. There is also an environment-dependent configuration
				a la Zend Framework, and several sample environment configs are provided.
			</p>
			<p>
				Most importantly, the skeleton comes pre-configured with both JIT and AOT compilation.
			</p>
		</mat-card>
	</div>
</div>
