<mat-list dense *ngIf="building.agencies.length">
	<mat-list-item
		*ngFor="let agency of building.agencies; let i = index;"
		[class.active]="isAgencySelected(agency)"
		(click)="goToBuildingAgency(agency)">

		<!-- Health -->
		<mat-icon class="icon-inline pull-right good" *ngIf="allAgencyHealth[i] >= 0.75">
			fiber_manual_record
		</mat-icon>
		<mat-icon class="icon-inline pull-right neutral" *ngIf="allAgencyHealth[i] >= 0.5 && allAgencyHealth[i] < 0.75">
			fiber_manual_record
		</mat-icon>
		<mat-icon class="icon-inline pull-right poor" *ngIf="allAgencyHealth[i] < 0.5">
			fiber_manual_record
		</mat-icon>

		<!-- Info -->
		<mat-icon mat-list-icon>developer_board</mat-icon>
		<span matLine>{{agency.name}}</span>
	</mat-list-item>
</mat-list>
