<ng-container *ngIf="building.name">
	<strong class="text-primary">{{building.name}}</strong>
	<div class="text-secondary">
		{{building.address.street1}}
	</div>
</ng-container>

<strong class="text-primary" *ngIf="!building.name">
	{{building.address.street1}}
</strong>

<!-- Line 2 -->
<div class="text-secondary" *ngIf="building.address.street2">
	{{building.address.street2}}
</div>

<!-- City, state, zip -->
<div class="text-secondary">
	{{building.address.city}}, {{building.address.state}}
	<ng-container *ngIf="building.address.zip">
		{{building.address.zip}}
		<ng-container *ngIf="building.address.zip4">-{{building.address.zip4}}</ng-container>
	</ng-container>
</div>

<!-- County, muni -->
<div class="text-secondary">
	<ng-container *ngIf="building.address.county && building.address.municipality">
		{{building.address.county}} County, Municipality of {{building.address.municipality}}
	</ng-container>
	<ng-container *ngIf="building.address.county && !building.address.municipality">
		{{building.address.county}} County
	</ng-container>
	<ng-container *ngIf="!building.address.county && building.address.municipality">
		Municipality of {{building.address.municipality}}
	</ng-container>
</div>
