<svg width="128" height="128">
	<!-- "attr." prefix is necessary for some attributes -->
	<circle cx="64" cy="64" [attr.r]="radius" stroke="rgba(200, 200, 200, 0.87)"
		[attr.stroke-dasharray]="circumference"
		[attr.stroke-dashoffset]="0"
		stroke-width="11"
		transform = "rotate(180 64 64)"
		fill="transparent"></circle>

	<circle cx="64" cy="64" [attr.r]="radius" [attr.stroke]="strokeColor"
		[attr.stroke-dasharray]="circumference"
		[attr.stroke-dashoffset]="offset"
		stroke-width="11"
		transform = "rotate(180 64 64)"
		fill="transparent"></circle>

	<text class="percentage-text" text-anchor="middle" x="64" y="72" [attr.fill]="textColor">
		{{valueText}}
	</text>
</svg>
