<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<title>MEAN Skeleton Application</title>
		<link rel="stylesheet" href="/stylesheets/material-icons.css" />
		<link rel="stylesheet" href="/stylesheets/indigo-pink.css">
		<link rel="stylesheet" href="/stylesheets/style.css"/>
	</head>
	<body>
		<mercury>
			<div id="LoadingOuter">
				<div id="LoadingInner">
					<div id="LoadingContent">
						<div class="lds-css ng-scope">
							<div class="lds-ripple">
								<div></div>
								<div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mercury>
		<script src="/js/app/bundle.js"></script>
	</body>
</html>
