<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<title>MEAN Skeleton Application</title>
		<link rel="stylesheet" href="/stylesheets/material-icons.css" />
		<link rel="stylesheet" href="/stylesheets/indigo-pink.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>404 Not Found</h1>
	</body>
</html>
