<mat-form-field style="width: 50%;" *ngIf="!display">
	<input matInput
		[matDatepicker]="picker"
		[placeholder]="label"
		[disabled]="readonly"
		[readonly]="readonly"
		(input)="emitValue($event)"
		[(ngModel)]="value"/>
	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-datepicker #picker (selectedChanged)="emitValue($event)"></mat-datepicker>
</mat-form-field>

<div *ngIf="display">
	<strong>{{label}}</strong><br />
	<ng-container *ngIf="value">
		{{value | date: 'dd/MM/yyyy'}}
	</ng-container>
	<ng-container *ngIf="!value">
		-
	</ng-container>
</div>
