<mercury-loading
	[loading]="isLoading"
	[error]="isError"
	[errorMessage]="'Error loading rep info. Try again momentarily'"
	[results]="!!agency">
</mercury-loading>

<!-- Already-assigned reps -->
<div class="column-left" *ngIf="!isLoading">

	<h3>Primary agency rep</h3>
	<mat-list class="margin-bottom" *ngIf="agency.primaryRep">
		<mat-list-item class="list-item-alternating">
			<mat-icon mat-list-icon>star</mat-icon>
			<h3 class="text-primary" matLine>
				{{agency.primaryRep.name.last}}, {{agency.primaryRep.name.first}}
			</h3>
			<span class="text-secondary" matLine>
				{{agency.primaryRep.email}}
			</span>
		</mat-list-item>
	</mat-list>
	<div class="error-message margin-bottom text-center" *ngIf="!agency.primaryRep">
		<mat-icon>not_interested</mat-icon>
		<p>No primary agency rep assigned</p>
	</div>

	<h3 class="margin-top" style="display: inline-block;">
		Additional agency reps
	</h3>
	<mat-list *ngIf="(agency.reps.length == 1 && !isUserPrimaryRep(agency.reps[0])) || agency.reps.length > 1">
		<ng-container *ngFor="let user of agency.reps">
			<mat-list-item class="list-item-alternating" matTooltipPosition="left" matTooltip="Managed by primary rep"
				*ngIf="!isUserPrimaryRep(user);">
				<h3 class="text-primary" matLine>
					{{user.name.last}}, {{user.name.first}}
				</h3>
				<span class="text-secondary" matLine>
					{{user.email}}
				</span>
			</mat-list-item>
		</ng-container>
	</mat-list>

	<!-- 1 and not 0 since the lead rep is also an additional rep -->
	<div class="error-message text-center" *ngIf="agency.reps.length == 0 || (agency.reps.length == 1 && isUserPrimaryRep(agency.reps[0]))">
		<mat-icon>not_interested</mat-icon>
		<p>No reps assigned</p>
	</div>
</div>

<div class="column-right" *hasPermission="['osgs_assignHeadAgencyRep']">
	<!-- Search for reps -->
	<h3>Assign primary agency rep</h3>
	<mat-form-field class="expand">
		<span matPrefix>
			<mat-icon class="icon-inline">search</mat-icon>
		</span>
		<input matInput type="text" maxlength="64" [(ngModel)]="searchQuery" (keyup)="searchReps()" #searchField />
	</mat-form-field>

	<mercury-loading
		[loading]="isSearching"
		[error]="!agency"
		[results]="searchResults.length"
		[resultsMessage]="'No users found'">
	</mercury-loading>

	<mat-list *ngIf="searchResults.length">
		<mat-list-item class="list-item-alternating" *ngFor="let user of searchResults">
			<button mat-icon-button class="pull-right" (click)="assign(user)" *ngIf="!isUserAssigned(user)"
				color="primary">
				<mat-icon>add_circle_outline</mat-icon>
			</button>
			<h3 class="text-primary" matLine>
				{{user.name.last}}, {{user.name.first}}
			</h3>
			<span class="text-secondary" matLine>
				{{user.email}}
			</span>
		</mat-list-item>
	</mat-list>
</div>
