<p>
	{{name}},
</p>

<p>
	You have been assigned as an Agency Representative for the {{agencyName}} in the Digital Emergency Planning System.
</p>
<p>
	This means that you are now able to assign Building Reps to your Agency's buildings.
	Those reps can then fill out Emergency Action Plans so that State Police
	can efficiently respond to any emergencies that occur within your Agency's buildings.
</p>

<hr style="color: rgba(0, 0, 0, 0.12); border: none; border-top: 1px solid rgba(0, 0, 0, 0.12); margin-top: 24px;" />
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		This is an automated e-mail sent by a robot. Messages sent to this e-mail address will not be read.
	</em>
</p>
