<h1>Emergency Plan Required</h1>
<p>
	The State Police are eliciting emergency plan information regarding <strong>{{incidentName}}</strong>
	events.
</p>
<p>
	In order to stay current on your buildings' emergency documentation, you must log in and add your
	agency's emergency response information.
</p>
<p>
	If you do not fill out your emergency action plan for this new incident, your building's information will
	be considered out-of-date by State Police.
</p>

<hr style="color: rgba(0, 0, 0, 0.12); border: none; border-top: 1px solid rgba(0, 0, 0, 0.12); margin-top: 24px;" />
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		You are receiving this message because you are registered as a Building Rep and you are
		responsible for at least one New Jersey State building. If you believe you are seeing
		this message in error, please contact your Agency Representative.
	</em>
</p>
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		This is an automated e-mail sent by a robot. Messages sent to this e-mail address will not be read.
	</em>
</p>
