<h1>Agency Requires Your Attention</h1>
<p>
	You are currently responsible for managing one or more agencies within the
	State Police Digital Emergency Planning System.
</p>
<p>
	The system has shown that your agency or agencies contain building(s) that require additional Emergency Action
	Plan information. This information is required in order for State Police to accurately and efficiently respond
	to an emergency, should one occur. This is either because no one has entered this information, or the information
	that was entered in the past has become out of date. Information is considered "out of date" if it has not been
	updated in six months.
</p>
<p>
	To ensure that State Police are able to respond to an emergency if one does occur, this agency's building reps
	must update the Emergency Action Plans in DEPS as soon as possible.
</p>

<hr style="color: rgba(0, 0, 0, 0.12); border: none; border-top: 1px solid rgba(0, 0, 0, 0.12); margin-top: 24px;" />
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		You are receiving this e-mail because you are marked as an Agency Representative for one or more agencies
		in the Digital Emergency Planning System. If you believe you are receiving this message in error, contact
		either another Agency Rep for your agency or State Police.
	</em>
</p>
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		This is an automated e-mail sent by a robot. Messages sent to this e-mail address will not be read.
	</em>
</p>
