<h1>Buildings Require Your Attention</h1>
<p>
	You are currently responsible for managing one or more buildings within the
	State Police Digital Emergency Planning System.
</p>
<p>
	The system has shown that your building(s) require additional Emergency Action Plan information in order
	for State Police to accurately and efficiently respond to an emergency, should one occur. This is either
	because no one has entered this information, or the information you have already entered has become out of date.
	Information is considered "out of date" if it has not been updated in six months.
</p>
<p>
	To ensure that State Police are able to respond to an emergency if one does occur, you must update
	your Emergency Action Plans in DEPS as soon as possible.
</p>

<hr style="color: rgba(0, 0, 0, 0.12); border: none; border-top: 1px solid rgba(0, 0, 0, 0.12); margin-top: 24px;" />
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		You are receiving this e-mail because you are marked as a Building Representative for one or more buildings
		in the Digital Emergency Planning System. If you believe you are receiving this message in error, contact
		your Agency Rep.
	</em>
</p>
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		This is an automated e-mail sent by a robot. Messages sent to this e-mail address will not be read.
	</em>
</p>
