<p>
	{{body}}
</p>

<hr style="color: rgba(0, 0, 0, 0.12); border: none; border-top: 1px solid rgba(0, 0, 0, 0.12); margin-top: 24px;" />
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		This message was sent because a System Administrator determined that all DEPS users of your role must be
		notified.
	</em>
</p>
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		This is an automated e-mail sent by a robot. Messages sent to this e-mail address will not be read.
	</em>
</p>
