<h1>Reset Password</h1>
<p>
	A request was submitted to reset the password for the DEPS account associated with this e-mail address.
</p>
<p>
	<strong>
		To reset your password, click <a href="{{url}}">here</a>. This link will expire in 12 hours.
	</strong>
</p>
<p>
	If you did not submit this request, it may have been submitted for you, or someone may have submitted the request
	in error.
</p>

<hr style="color: rgba(0, 0, 0, 0.12); border: none; border-top: 1px solid rgba(0, 0, 0, 0.12); margin-top: 24px;" />
<p style="color: rgba(0, 0, 0, 0.54); font-size: 14px;">
	<em>
		This is an automated e-mail sent by a robot. Messages sent to this e-mail address will not be read.
	</em>
</p>
